<section class="login">
    <div class="box" style="height: 415px;">
        <div class="form">
            <h2>Admin Login</h2>
            <form action="/admin/login" method="POST">
                {{#if adminLoginErr}}
                <p class="error">{{adminLoginErr}}</p>
                {{/if}}
                <div class="inputBx">
                    <input type="text" name="Email" placeholder="Email">
                    <img src="/images/user.png" alt="icon failed">
                </div>
                <div class="inputBx">
                    <input type="password" name="Password" placeholder="Password">
                    <img src="/images/lock.png" alt="icon failed">
                </div>
                <label class="remember"><input type="checkbox"> Remember Me</label>
                <div class="inputBx">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</section>