<section class="view-Users">
    <div class="container">
        <h2>Users</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td scope="row">*</td>
                    <td>{{this.Name}}</td>
                    <td>{{this.Email}}</td>
                    <td>
                        <a href="/admin/remove-user/{{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Are you want to remove {{this.Name}} ?')">Remove</a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</section>