<!-- Footer -->

<footer id="footer" class="section footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer-top__box">
                <h3>EXTRAS</h3>
                <a href="#">Brands</a>
                <a href="#">Gift Certificates</a>
                <a href="#">Affiliate</a>
                <a href="#">Specials</a>
                <a href="#">Site Map</a>
            </div>
            <div class="footer-top__box">
                <h3>INFORMATION</h3>
                <a href="https://gokulsreejith.github.io/Personal_Website/index.html">About Us</a>
                <a href="https://gokulsreejith.github.io/Personal_Website/index.html">Privacy Policy</a>
                <a href="https://gokulsreejith.github.io/Personal_Website/index.html">Terms & Conditions</a>
                <a href="https://gokulsreejith.github.io/Personal_Website/index.html">Contact Us</a>
                <a href="https://gokulsreejith.github.io/Personal_Website/index.html">Site Map</a>
            </div>
            <div class="footer-top__box">
                <h3>MY ACCOUNT</h3>
                <a href="/profile">My Account</a>
                <a href="/orders">Order History</a>
                <a href="#">Wish List</a>
                <a href="/#news">News</a>
                <a href="#">Returns</a>
            </div>
            <div class="footer-top__box">
                <h3>CONTACT US</h3>
                <div>
                    <span>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-paperplane"></use>
                        </svg>
                    </span>
                    <a href="https://gokulsreejith.github.io/Personal_Website/index.html" style="display: contents;">Gokul Sreejith</a>
                </div>
                <div>
                    <span>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-envelop"></use>
                        </svg>
                    </span>
                    <a href="mailto: gokulsreejith22002@gmail.com" style="display: contents;">gokulsreejith22002@gmail.com</a>
                </div>
                <div>
                    <span>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-phone"></use>
                        </svg>
                    </span>
                    <a style="display: contents; cursor:no-drop;">Hidden</a>
                </div>
                <div>
                    <span>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-location"></use>
                        </svg>
                    </span>
                    <a style="display: contents; cursor:no-drop;">Not Available</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer-bottom__box">

        </div>
        <div class="footer-bottom__box">

        </div>
    </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Glide Carousel Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>

<!-- Animate On Scroll -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- script -->
<script src="/javascripts/index.js"></script>
<script src="/javascripts/slider.js"></script>