<!-- Header -->
<header id="header" class="header">
    <div class="navigation">
        <div class="container">
            <nav class="nav">
                <div class="nav__hamburger">
                    <svg>
                        <use xlink:href="/images/sprite.svg#icon-menu"></use>
                    </svg>
                </div>

                <div class="nav__logo">
                    <a href="/" class="nav_logo">
                        Shopping
                    </a>
                </div>

                <div class="nav__menu">
                    <div class="menu__top">
                        <span class="nav__category">Shopping</span>
                        <a href="/" class="close__toggle">
                            <svg>
                                <use xlink:href="./images/sprite.svg#icon-cross"></use>
                            </svg>
                        </a>
                    </div>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="/#category" class="nav__link">Category</a>
                        </li>
                        <li class="nav__item">
                            <a href="/orders" class="nav__link">Orders</a>
                        </li>
                        <li class="nav__item">
                            <a href="/#news" class="nav__link">News</a>
                        </li>
                        {{#if user}}
                        <li class="nav__item">
                            <a href="/logout" class="nav__link">Logout</a>
                        </li>
                        {{else}}
                        <li class="nav__item">
                            <a href="/login" class="nav__link">Login</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
                <div class="nav__icons">
                    <a href="/profile" class="icon__item">
                        <svg class="icon__user">
                            <use xlink:href="/images/sprite.svg#icon-user"></use>
                        </svg>
                    </a>

                    <a href="#" class="icon__item">
                        <svg class="icon__search">
                            <use xlink:href="/images/sprite.svg#icon-search"></use>
                        </svg>
                    </a>

                    <a href="/cart" class="icon__item">
                        <svg class="icon__cart">
                            <use xlink:href="/images/sprite.svg#icon-shopping-basket"></use>
                        </svg>
                        {{#if user}}
                        <span id="cart__total" class="cart-count">{{cartCount}}</span>
                        {{/if}}
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- End Header -->