<section>
    <div class="container mt-5">
        <div class="row">
            
                {{#each products}}
                    <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top"
                            src="{{image}}"
                            alt="Mobile Image">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{price}}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div> 
                {{/each}}
        </div>
    </div>
</section>