<section class="login">
    <div class="box">
        <div class="form">
            <h2>Login</h2>
            <form action="/login" method="POST">
                {{#if loginErr}}
                <p class="error">{{loginErr}}</p>
                {{/if}}
                <div class="inputBx">
                    <input type="text" name="Email" required placeholder="Email">
                    <img src="/images/user.png" alt="icon failed">
                </div>
                <div class="inputBx">
                    <input type="password" name="Password" required placeholder="Password">
                    <img src="/images/lock.png" alt="icon failed">
                </div>
                <label class="remember"><input type="checkbox"> Remember Me</label>
                <div class="inputBx">
                    <input type="submit" value="Login">
                </div>
            </form>
            <p>Forget <a href="#">Password</a></p>
            <p>Need an <a href="/signup">Account</a></p>
        </div>
    </div>
</section>