<div>
    <div class="container">
        <div>
            <h1 style="margin-left: 311px; margin-top: 97px; font-size: 4.5rem;">OrderPlaced</h1>
        </div>
        <div>
            <a href="/"><button class="btn btn-success" style="margin-top: 61px; margin-left: 500px;">Go to Order</button></a>
        </div>
    </div>
</div>