<section>
    <div class="container">
        <form action="" id="checkout-form">
            <div class="row">

                <h1 style="text-align: center;">Enter Delivery Details</h1><br>
                <div class="Details">
                    <div>
                        <label for="">Address:</label>

                        <input class="form-control" type="text" name="address" id="address" placeholder="Address"><br>
                        <label for="Pincode">Pincode:</label>

                        <input class="form-control" type="text" name="pincode" id="pincode" placeholder="Pincode"><br>
                        <label for="">Mobile:</label>

                        <input class="form-control" type="text" name="mobile" id="mobile" placeholder="Mobile"><br>
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="cart__totals checkout" style="margin-bottom:80px;margin-top:50px;">
                    <h3>Payment Method</h3>
                    <ul>
                        <li>
                            Total:
                            <span class="new__price" id="total">₹{{total}}.00</span>
                        </li>
                        <li>
                            Option:
                            <label class="radio-inline" style="padding-bottom: 7px;padding-top: 13px;">
                                <input type="radio" name="payment-method" value="COD" checked>COD
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="payment-method" value="ONLINE">Online payment
                            </label>
                        </li>
                    </ul>
                    <button type="submit">Checkout</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.CODSuccess) {
                    location.href = '/order-success'
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })
    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_WbBi7ofMaJMjnb", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Shopping Cart",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gokul Sreejith",
                "email": "Sreejith@Hacker.com",
                "contact": "1234567890"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#8622DB"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata);
        });

        rzp1.open();

    }
    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-success'
                } else {
                    alert("payment failed")
                }
            }
        })
    }
</script>
<style>
    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    .form-control {
        width: 66%;
        margin-left: 194px;
    }

    label.radio-inline {
        display: flex;
        align-items: center;
    }

    .payment {
        padding-bottom: 14px;
    }

    section {
        margin-top: 30px;
    }

    label {
        font-size: larger;
        margin-left: 193px;
        padding-bottom: 20px;
    }

    input {
        margin-bottom: 12px;
        margin-top: 10px;
    }

    button {
        font-size: 1.5rem;
        padding: 1.2rem 3rem;
        background-color: var(--white);
        color: var(--black);
        text-transform: uppercase;
        border: 1px solid var(--black);
        transition: all 0.4s ease-in-out;
    }

    button:hover {
        background-color: var(--black);
        color: var(--white);
        border: 1px solid var(--black);
    }

    h1 {
        margin-bottom: 15px;
    }

    @media only screen and (max-width: 567px) {
        label {
            font-size: larger;
            margin-left: 10%;
            padding-bottom: 20px;
        }

        .form-control {
            width: 77%;
            margin-left: 32px;
        }
    }
</style>