<section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">

                <div class="col-md-6">
                    <h2>Enter Delivery Details</h2><br>
                    <div>
                        <label for="">Address</label>

                        <input class="form-control" type="text" name="address" id="address" placeholder="Address">
                        <label for="Pincode">Pincode</label>

                        <input class="form-control" type="text" name="pincode" id="pincode" placeholder="Pincode">
                        <label for="">Mobile</label>

                        <input class="form-control" type="text" name="mobile" id="mobile" placeholder="Mobile">
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout">
                        <h5>Total: Rs.{{total}}</h5>
                        <hr>
                        <div class="payment">
                            <p>Payment Method</p>
                            <label class="radio-inline">
                                <input type="radio" name="payment-method" value="COD" checked>COD
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="payment-method" value="ONLINE">Online payment
                            </label>
                            <button class="btn btn-primary float-left" type="submit">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.CODSuccess) {
                    location.href = '/order-success'
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })
    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_WbBi7ofMaJMjnb", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Shopping Cart",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature);

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gokul Sreejith",
                "email": "Sreejith@Hacker.com",
             "contact": "9487013977"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#8622DB"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata);
        });
        
            rzp1.open();

    }
    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: post
        })
    }
</script>
<style>
    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    label.radio-inline {
        display: flex;
        align-items: center;
    }

    .checkout {
        border: 1px solid;
        border-radius: 3px;
        padding: 30px;
    }

    .payment {
        padding-bottom: 16px;
    }
</style>