<section>
    <div class="container">
        <form action="" id="checkout-form">
            <div class="row">

                <h1 style="text-align: center;">Enter Delivery Details</h1><br>
                <div class="Details">
                    <div>
                        <label for="">Address:</label>

                        <input class="form-control" type="text" name="address" id="address" placeholder="Address"><br>
                        <label for="Pincode">Pincode:</label>

                        <input class="form-control" type="text" name="pincode" id="pincode" placeholder="Pincode"><br>
                        <label for="">Mobile:</label>

                        <input class="form-control" type="text" name="mobile" id="mobile" placeholder="Mobile"><br>
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="cart__totals checkout" style="margin-bottom:80px;margin-top:50px;">
                    <h3>Payment Method</h3>
                    <ul>
                        <li>
                            Total:
                            <span class="new__price" id="total">₹{{total}}.00</span>
                        </li>
                        <li>
                            Option:
                            <label class="radio-inline" style="padding-bottom: 7px;padding-top: 13px;">
                                <input type="radio" name="payment-method" value="COD" checked>COD
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="payment-method" value="ONLINE">Online payment
                            </label>
                        </li>
                    </ul>
                    <button type="submit">Checkout</button>
                </div>
            </div>
        </form>
    </div>
</section>
<style>
    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    .form-control {
        width: 66%;
        margin-left: 194px;
    }

    label.radio-inline {
        display: flex;
        align-items: center;
    }

    .payment {
        padding-bottom: 14px;
    }

    section {
        margin-top: 30px;
    }

    label {
        font-size: larger;
        margin-left: 193px;
        padding-bottom: 20px;
    }

    input {
        margin-bottom: 12px;
        margin-top: 10px;
    }

    button {
        font-size: 1.5rem;
        padding: 1.2rem 3rem;
        background-color: var(--white);
        color: var(--black);
        text-transform: uppercase;
        border: 1px solid var(--black);
        transition: all 0.4s ease-in-out;
    }

    button:hover {
        background-color: var(--black);
        color: var(--white);
        border: 1px solid var(--black);
    }

    h1 {
        margin-bottom: 15px;
    }

    @media only screen and (max-width: 567px) {
        label {
            font-size: larger;
            margin-left: 10%;
            padding-bottom: 20px;
        }

        .form-control {
            width: 77%;
            margin-left: 32px;
        }
    }
</style>