<section class="login">
    <div class="box " style="height: 475px;">
        <div class="form">
            <h2>Signup</h2>
            <form action="/signup" method="POST">
                {{#if signupErr}}
                <p class="error">{{signupErr}}</p>
                {{/if}}
                <div class="inputBx">
                    <input type="text" name="Name" placeholder="Name">
                    <img src="/images/user.png" alt="icon failed">
                </div>
                <div class="inputBx">
                    <input type="text" name="Email" placeholder="Email">
                    <img src="/images/user.png" alt="icon failed">
                </div>
                <div class="inputBx">
                    <input type="password" name="Password" placeholder="Password">
                    <img src="/images/lock.png" alt="icon failed">
                </div>
                <label class="remember"><input type="checkbox"> Remember Me</label>
                <div class="inputBx">
                    <input type="submit" value="Signup">
                </div>
            </form>
            <p>Already have a <a href="/login">Account</a></p>
        </div>
    </div>
</section>