<section>
    <div class="container mt-5">
        <div class="row">
                {{#each products}}
                    <div class="col-md-3 p-3">
                    <div class="card" style="width: 15rem;height:24rem">
                        <img class="card-img-top"
                            src="/product-images/{{this._id}}.jpeg"
                            alt="Mobile Image"
                            style="height: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Price}}</p>
                            <p class="card-text">{{this.Description}}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div> 
                {{/each}}
        </div>
    </div>
</section>