@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,90,&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color:#20b6c6;
}

.add-prod {
    background-image:linear-gradient(to right, #5962e6 , #d146dd);
    width: 100%;
    padding-top: 50px;
    height: 584px;
}

.add-prod h2 {
    color: #000;
    font-weight: bold;
    font-family: initial;
}
.add-prod label {
    color: #000;
    font-family: initial;
}
.add-prod input {
    background: transparent;
    border-color: #90b1ff;
    color: #fff;
    font-weight: 500;
    font-family: 'bold;
}
.edit-prod {
    background-image:linear-gradient(to right, #5962e6 , #d146dd);
    width: 100%;
    padding-top: 30px;
    height: 584px;
}

.edit-prod h2 {
    color: #000;
    font-weight: bold;
    font-family: initial;
}
.edit-prod label {
    color: #000;
    font-family: initial;
}
.edit-prod input {
    background: transparent;
    border-color: #90b1ff;
    color: #fff;
    font-weight: 500;
    font-family: 'bold;
}
.edit-prod img {
    width: 100px;
    height:auto;
}
.view-Prod {
    background-color:#ff7cc6;
    height: 100vh;
}
.view-Prod h2{
    text-align: center;
    padding: 13px;
    padding-top: 0px;
}
.view-Prod .row{
    padding-top: 17px;
}
.view-Prod a{
    margin-left: auto;
}
.view-Prod .table{
    margin-top: 10px;
}
.cart{
    background-color:#c890ff;
    height: 100%;
    padding-bottom: 55px;
}
.cart .container{
    padding-top: 25px;
}
.cart h2{   
    text-align: center;
    padding-bottom: 17px;
}
.login{
    padding-top: 20px;
}
.card-body{
    background-color: #f1cdb3;;
}
.card{
    border: 1px solid black;
    border-radius: 5px;
}
.admin-header{
    background-color: #65686d;
}
.user-header{
    background-color: #65686d;
}
.nav-link {
    color: cornsilk;
}
.nav-link:hover {
    color: cornsilk;
}
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover{
    color: #ffef00;
}
.user-btn{
    color: #c890ff;;
}
.login-create  {
    color: #fff;
}
.login-create:hover {
    color: blue;
    text-decoration: none;
}
.signup-create  {
    color: #fff;
}
.signup-create:hover {
    color: blue;
    text-decoration: none;
}
.nav-link.disabled{
    color: #fff;
}
.view-Users {
    background-color:#ff7cc6;
    height: 100vh;
}
.view-Users h2{
    text-align: center;
    padding: 13px;
}
.view-Users .table{
    margin-top: 10px;
}
.cart-item-count{
    padding: 4px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.cart-item-count:hover{
    background-color:#fff;
}